In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
import nltk
import csv
import pandas as pd
import json
import re
from nltk.corpus import stopwords
from nltk import WordNetLemmatizer
import math

In [2]:
stop_words = stopwords.words('english')
wnl = WordNetLemmatizer()
def clean_data(p):
    dataset = nltk.sent_tokenize(p)
    words = [word for data in dataset for word in nltk.word_tokenize(data)]
    words = [wnl.lemmatize(item[0].lower()) for item in nltk.pos_tag(words) if item[1] != 'NNP' and item[0].lower() not in stop_words]
    p = ' '.join(words)

    t = ""
    for x in nltk.sent_tokenize(p):
        x = x.lower()
        x = re.sub(r'\W', ' ', x)
        x = re.sub(r'\s+', ' ', x)
        x = re.sub(r'^\s+', '', x)
        x = re.sub(r'\s$', '', x)
        t += ". " + x
    return t[2:]

In [3]:
def getList(x):
    j = json.loads(x)
    l = []
    for i in j:
        x = clean_data(j[i])
        l.append(x)
    return l

In [5]:
filename = "booksummaries1.txt"
        
dataset=[]
with open(filename, 'r', encoding="utf8", errors='ignore') as f:
    reader=csv.reader(f,dialect='excel-tab')
    for row in reader:
        dataset.append([row[0],row[2],row[3],row[4],row[5],row[6]])
df=pd.DataFrame(dataset,columns=['ID','Name','Author','Date','Genres','Summary'])

df=df.drop(df[df['Genres']==''].index)
df['Genres'] = df['Genres'].apply(lambda x: getList(x))
df['Summary'] = df['Summary'].apply(lambda x: clean_data(x))

In [6]:
df

,ID,Name,Author,Date,Genres,Summary
0,620,Animal Farm,George Orwell,1945-08-17,"[à clef, satire, s literature, speculative fic...",old boar call animal farm meeting compare huma...
1,843,A Clockwork Orange,Anthony Burgess,1962,"[science fiction, novella, speculative fiction...",teenager living near future lead gang nightly ...
2,986,The Plague,Albert Camus,1947,"[existentialism, fiction, absurdist fiction, n...",text divided five part. town thousand rat init...
4,2080,A Fire Upon the Deep,Vernor Vinge,,"[science fiction, science fiction, speculative...",novel posit space around divided concentric la...
5,2152,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,"[novel, à clef]",book tell story german soldier who urged schoo...
6,2890,A Wizard of Earthsea,Ursula K. Le Guin,1968,"[s literature, fantasy, speculative fiction, ,...",young boy one larger island north archipelago....